<div class="logging-page-container">

  <div class="logging-text-wrapper">
    <h2> Login to Choose4me!</h2>
    <p>Please login to the app to continue.</p>
  </div>

  <div class="logging-form-wrapper">
    <form action="/action_page.php">
      <!-- Username:<br>
      <input type="text" name="username"><br> -->
      Mail:<br>
      <input type="email" name="mail"><br>
      Password:<br>
      <input type="password" name="password"><br>
      <input type="submit" value="Login">
    </form>
  </div>
</div>